<link href="/assets/FrontOfficeAssets/img/favicon.png" rel="icon">
<link href="/assets/FrontOfficeAssets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/assets/FrontOfficeAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/aos/aos.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/assets/FrontOfficeAssets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/assets/FrontOfficeAssets/css/main.css" rel="stylesheet">

<!-- Navbar -->
<app-nav-bar-front></app-nav-bar-front>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="exercise-day-container">
    <!-- Iterate over exercise days -->
    <div *ngFor="let exerciseDay of exerciseDays" class="exercise-day-card">
        <h3>Day {{exerciseDay.dayNumber}} - {{exerciseDay.date | date}}</h3>
        <h4>Total duration: {{exerciseDay.totalDuration}} minutes</h4>
        
        <!-- Exercise list -->
        <div class="exercises-container">
            <!-- Iterate over exercises -->
            <div *ngFor="let exercise of exerciseDay.exercises" class="exercise-card">
                <!-- Exercise details here -->
                <img *ngIf="exercise.image" [src]="getImageUrl(exercise.image)" alt="{{exercise.namexercise}}">
                <div class="exercise-content">
                    <h3>{{exercise.namexercise}}</h3>
                    <p>Sets: {{exercise.sets}}</p>
                    <p>Reps: {{exercise.reps}}</p>
                    <p>Rest: {{exercise.repo}} seconds</p>
                    <p>Duration: {{exercise.duration}} minutes</p>
                </div>

                <!-- Start Exercise Button -->
                <button class="start-exercise-btn" 
        (click)="startExercise(exerciseDay.dayNumber, exercise.id_Exercice)"
        [disabled]="isExerciseCompleted(exercise.id_Exercice)">
  Start Exercise
</button>

            </div>
        </div>
    </div>
</div>

<app-footer-front></app-footer-front>