<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitanova Admin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="sidebar">
    <h2>Vitanova Admin</h2>
    <div class="managements">
    <ul>
      <li><a href="#"><i class="fas fa-users"></i> User Management</a></li>
      
     
      <li><a [routerLink]="['/Admin', 'ManageWorkout']"><i class="fas fa-dumbbell"></i> Workout Management</a></li>
      <li><a [routerLink]="['/Admin', 'ManageExerciceDay']"><i class="fas fa-dumbbell"></i> Exercice day Management</a></li>
      <li><a [routerLink]="['/Admin', 'ManageExercise']"><i class="fas fa-dumbbell"></i> Exercise Management</a></li>
      <li><a [routerLink]="['/Admin', 'ManageEvent']"><i class="fas fa-dumbbell"></i> Event Management</a></li>
      <li><a href="acc"><i class="fas fa-brain"></i> Mental Well-being Management</a></li>
      <li><a href="/foods"><i class="fas fa-utensils"></i> Nutrition Management</a></li>
     
      <li><a href="#"><i class="fas fa-shopping-cart"></i> Marketplace Management</a></li>
      <li><a href="#"><i class="fas fa-users"></i> Community Management</a></li>
      <li><a href="/admin"><i class="fas fa-users"></i> USER MANAGEMENT</a></li>
      <li><a href="/admin/profile"><i class="fas fa-users"></i> PROFILE</a></li>
      <li><a href="/admin/category"><i class="fas fa-folder"></i> CATEGORY</a></li>
      <li><a href="/admin/abonnement"><i class="fas fa-gem"></i> ABONNEMENT</a></li>
      <li><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> DASHBOARD</a></li>
      <li><a href="/admin/post-coupon"><i  class="fas fa-users"></i> ADD COUPON</a></li>
      <li><a href="/admin/coupons"><i class="fas fa-tags"></i> EXISTING COUPONS</a></li>
      <li><a href="/admin/orders"><i class="fas fa-shopping-cart"></i> ORDERS</a></li>
      <li><a href="/login"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
    <!--  <mat-toolbar>
        <a    
        (click)="logoutt()"
        *ngIf="login.isLoggedIn"
       
        
        mat-icon-button
       >
     Logoutttttt
        </a>
      </mat-toolbar>-->
     
    <!--  <li>
        <button (click)="logout()" *ngIf="isLoggedInn()" mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Logout">
            Logout
        </button>
    </li>-->
     


      
     <!--  <li><a href="#"><i class="fas fa-brain"></i> Mental Well-being Management</a></li>
     <li><a href="#"><i class="fas fa-dumbbell"></i> Workout Management</a></li>
      <li><a href="#"><i class="fas fa-shopping-cart"></i> Marketplace Management</a></li>
      <li><a href="#"><i class="fas fa-users"></i> Community Management</a></li>-->
      
   

</div>
  </div>
</body>
</html>
