/* Style pour le formulaire de participation */
.participation-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  background-color: #fff; /* Fond blanc */
}

/* Style pour les groupes de formulaire */
.form-group {
  width: 100%;
  margin-bottom: 15px;
}

/* Style pour les champs de formulaire */
.mat-form-field {
  width: 100%;
}

/* Style pour les champs de saisie */
.mat-input-element {
  font-size: 16px; /* Taille de la police */
  padding: 10px; /* Espacement intérieur */
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  transition: border-color 0.3s; /* Transition fluide pour la couleur de la bordure */
}

.mat-input-element:focus {
  outline: none; /* Pas de contour au focus */
  border-color: #007bff; /* Couleur de la bordure bleue */
}

/* Style pour le bouton "Submit" */
button[type="submit"] {
  background-color: #cd0707; /* Couleur de fond rouge */
  color: white; /* Couleur du texte */
  font-weight: bold; /* Gras */
  padding: 10px 20px; /* Espacement intérieur */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de pointeur */
  transition: background-color 0.3s; /* Transition fluide pour la couleur de fond */
}

button[type="submit"]:hover {
  background-color: #b30505; /* Nuance plus foncée de rouge au survol */
}
