<h2>Update Participation</h2>
<form (submit)="onSubmit()" #updateForm="ngForm">

  <!-- Vos champs de formulaire ici -->
  <mat-form-field>
    <mat-label>Injury:</mat-label>
    <input matInput type="text" name="injury" [(ngModel)]="participation.injury" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Emergency Number:</mat-label>
    <input matInput type="text" name="emergencyNumber" [(ngModel)]="participation.emergencyNumber" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Update</button>
</form>
